

#leftfood{
    position: fixed;
    top: 43vh;
    left: 16vw;
    width: 20%;
}
#rightfood{
    position: fixed;
    top: 18vh;
    right: 15vw;
    width: 20%;

}
#youtube{
    position: fixed;
    top: 60%;
    left: 50%;
    width: 45%;
    height: 55%;
    transform: translate(-50%, -50%);
}