#text {
    position: fixed;
    top: 6vh;
    left: 6vw;
    width: 45vw;

}

#fooditems {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#fooditems img{
    width: 100%;
}
#topImage{
    animation: bounce 2.3s ease-in-out infinite;
}