
#poopright{
    position: fixed;
    top: 0;
    right: -5vw;
    width: 27%;
    animation: float 2s infinite;
}
#poopleft{
    position: fixed;
    bottom: 9vh;
    left: 0;
    width: 25%;
    animation: float 2s infinite;
}
#toilet{
    position: fixed;
    bottom: 0;
    right: 10vw;
    width: 34%;
    cursor: pointer;
}