#text {
    position: fixed;
    top: 6vh;
    left: 6vw;
    width: 45vw;
}

#nextButton {
    position: fixed;
    left: 7vw;
    bottom: 8vh;
    height: 5vh;
    width: 7vw;
}

#nextButton:hover {
    animation: shake 0.5s infinite;
}

#line{
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
}


.circle {
    position: fixed;
    width: 10vw; /* Adjust the width as needed */
    height: 10vw; /* Ensure the circle is proportional */

}
#circle1{
    top: 49vh;
    left: 7vw;
}
#circle2{
    top: 61vh;
    left: 30vw;
}
#circle3{
    top: 31vh;
    left: 43vw;
}
.circle img{
    width: 100%;
}


.bottomImage{
    display: none;
}

#creatures{
    position: fixed;
    top: 23vh;
    right: 7vw;
    width: 30%;
}
